<footer class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="col-md-2">
      <img src="/images/logo-circle.svg" class="img-responsive logo" alt="Try Catch">
    </div>
    <div class="col-md-10">
      <h2>Get in touch</h2>
      <p class="lead"><a href="mailto:hello@introdev.co.uk">hello@introdev.co.uk</a></p>

      <small>Copyright &copy; 2015 IntroDev Ltd
      <br>IntroDev Ltd is incorporated as a Private Limited
        Company in England &amp; Wales with company number xxxxxxxx</small>
    </div>
    </div>
  </div>
</footer>
