<!--[if lt IE 10]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header class="header">
  <ul class="nav nav-pills pull-right">
    <li class="{% if "/index.html" == page.url %}active{% endif %}"><a href="/">Home</a></li>

    {% for link in site.pages %}
      {% if link.title %}
      <li class="{% if link.url == page.url %}active{% endif %}">
        <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
      </li>
      {% endif %}
    {% endfor %}

    <li><a href="mailto:tim@trycatchsoftware.co.uk">Contact</a></li>
  </ul>
  <a href="/"><img src="/images/logo-horizontal.png" class="logo" alt="Try Catch"></a>
</header>
