.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: $navbar-height  + 1px;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-bottom: $line-height-computed;
}

header {
  nav {
    @extend .navbar, .navbar-default, .navbar-fixed-top;

    .brand {
      @extend .navbar-brand;

      padding-top: $padding-base-vertical;
      padding-bottom: $padding-base-vertical;

      .logo {
        height: $navbar-height - ($padding-large-vertical * 2);
        margin-top: $padding-large-vertical / 2;
      }
    }

    .menu {
      @extend .nav, .navbar-nav, .navbar-right;
    }
  }
}

footer {
  @extend .text-muted;

  background-color: $brand-primary-dark;
  color: white;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
  margin-top: $jumbotron-padding;
  border-top: 1px solid $navbar-default-border;
  -webkit-font-smoothing: antialiased;

  a, a:focus, a:hover {
    color: white;
  }

  h2:first-child {
    margin-top: 15px;
    margin-bottom: $padding-large-vertical;
  }

  small {
    color: lighten($brand-primary-dark, 40%);
  }
}

.jumbotron {
  .container-fluid &, .container & {
    border-radius: 0;
  }
}

.page-header {
  background-color: $jumbotron-bg;
  margin-top: 0;
  color: #fff;
  padding-top: $line-height-computed / 2;
  padding-bottom: $line-height-computed / 2;
}

.well {
  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0;
    }
  }
}

.icon {
  margin-top: $padding-large-vertical;
}

.tim {
  text-align: right;
  clear:both;
}

.together {
  text-align: center;
  clear: both;
}
