#cd-timeline {
  position: relative;
  padding: 5em 0;

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: $well-border;
    background: -moz-linear-gradient(top, $well-border 0%, $well-border 5%, $well-border 95%, rgba($well-border,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba($well-border,0) 0%, $well-border 5%, $well-border 95%, rgba($well-border,0) 100%);
    background: -o-linear-gradient(top, rgba($well-border,0) 0%, $well-border 5%, $well-border 95%, rgba($well-border,0) 100%);
    background: -ms-linear-gradient(top, rgba($well-border,0) 0%, $well-border 5%, $well-border 95%, rgba($well-border,0) 100%);
    background: linear-gradient(to bottom, rgba($well-border,0) 0%, $well-border 5%, $well-border 95%, rgba($well-border,0) 100%);
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  opacity: 0;
  position: absolute;
  top: 16px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $gray-lighter;
  background-color: white;

  img {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-top: 3px;
  }
}

.cd-timeline-content {
  @include bubble(2px);

  opacity: 0;
  position: relative;
  margin-left: 60px;
  padding: 1em;
  background-color: $gray-lighter;

  h1, h2, h3 {
    &:first-child {
      margin-top: 0;
    }
  }

  .cd-date {
    @extend .text-muted;

    display: inline-block;
  }
}

.timeline-bounce-in-left, .timeline-bounce-in-right {
  @include animation('bounceInRight');
  @include animation-duration(0.75s);
  opacity: 1;
}

.timeline-zoom-in {
  @include animation('zoomIn');
  @include animation-duration(1s);
  opacity: 1;
}

@media (max-width: 1170px) {
  .cd-timeline-content {
    @include bubble-right(2px);
  }
}

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }

  .cd-timeline-block {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cd-timeline-img {
    width: 70px;
    height: 70px;
    left: 50%;
    top: 0;
    margin-left: -35px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .cd-timeline-content {
    @include bubble-left(2px);
    margin-left: 0;
    padding: 1.6em;
    width: 45%;

    .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      padding: 1em 0;
    }
  }

  .cd-timeline-block:nth-child(even) {
    .cd-timeline-content {
      float: right;
      @include bubble-right(2px);

      .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
    }

  }

  .timeline-bounce-in-left {
    @include animation('bounceInLeft');
    @include animation-duration(0.75s)
  }

  .timeline-bounce-in-right {
    @include animation('bounceInRight');
    @include animation-duration(0.75s)
  }
}
