$brand-primary: #2880b9;
$brand-primary-light: #3b96d2;
$brand-primary-dark: #2c3e50;
$brand-highlight: #e74d3c;

$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-weight: 400;

$navbar-height: 70px;
$navbar-default-bg: #fff;

$jumbotron-bg: $brand-primary-light;
$jumbotron-color: #fff;

$bubble-border-width: 2px;
